<div class="login-container">

    <div class="row">

        <div class="col-sm-6 center-block" style="float:none">
            <!-- Errors container -->

            <alert type="danger" close="alerts.actionError.show = false" ng-show="alerts.actionError.show == true">
                <h4>Incorrect Username or password!</h4>

                The username you entered does not belong to any account.
                You can login using username and passowrd associated with your account. Make sure that it is typed
                correctly.
            </alert>

            <form method="post" role="form" name="form" class="fade-in-effect validate" novalidate="">

                <div class="form-group">
                    <label class="control-label" for="username">Username</label>
                    <input type="text" class="form-control input-dark" name="username" id="username" autocomplete="off"
                           ng-model="user.username" data-validate="required" required/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="passwd">Password</label>
                    <input type="password" class="form-control input-dark" name="passwd" id="passwd" autocomplete="off"
                           ng-model="user.password" data-validate="required" required/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success  btn-block text-left" ng-click="login(form.$valid)">
                        Log In
                    </button>
                </div>

                <div class="login-footer text-center">
                    <div class="login-text login-container">
                        Don't have an account?  <a ui-sref="register" class="login-text"><strong>Sign up</strong></a>
                    </div>


                </div>

            </form>

        </div>

    </div>

</div>