<div class="container text-center">

    <h2>Users:</h2>
    <ul class="list-unstyled">
        <li ng-repeat="user in users">
            <span>name: <strong>{{user.username}}</strong></span>
            <span>, </span>
            <span>email: <strong>{{user.email}}</strong></span>
        </li>
    </ul>

    <div class="form-group">
        <button type="submit" class="btn btn-success text-left" ng-click="logout()">
            Log Out
        </button>
    </div>
</div>


