<div class="login-container">
    <div class="row">
        <div class="col-sm-6 center-block" style="float:none">
            <!-- Errors container -->

            <alert type="danger" close="alerts.actionError.show = false" ng-show="alerts.actionError.show == true">
                <h4>Sign up problem!</h4>
                 {{alerts.actionError.message}}
            </alert>

            <alert type="success" close="alerts.actionSuccess = false" ng-show="alerts.actionSuccess == true">
                <h4>Signed in successfully!</h4>
                Please check your email to finish registration process.

            </alert>

            <form method="post" role="form" name="form" class="fade-in-effect validate" novalidate>

                <div ng-if="showLoader" class="relative-page-loading-overlay">
                    <div class="loader-2"></div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="username">Username</label>
                    <input type="text" class="form-control input-dark" name="username" id="username" autocomplete="off"
                           ng-model="user.username" required/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="passwd">Password</label>
                    <input type="password" class="form-control input-dark"  name="passwd" id="passwd" autocomplete="off" data-validate="required"
                           ng-model="user.password" data-message-equal-to="Password should have at least 6 characters." required/>
                </div>

                <div class="form-group">
                    <label class="control-label">Email Field</label>
                    <input type="text" class="form-control input-dark" name="email" id="email"   ng-model="user.email" required/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success  btn-block text-left" ng-click="register()">
                       Sign Up
                    </button>
                </div>

                <div class="login-footer text-center">

                    <div class="login-text login-container">
                        Have an account?  <a ui-sref="login" class="login-text"><strong>Log in</strong></a>
                    </div>


                </div>

            </form>

        </div>

    </div>

</div>
